{% extends "base.html" %}

{% block content %}
<h2>资源列表</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>资源类型</th>
            <th>资源名称</th>
            <th>资源地址</th>
            <th>状态</th>
            <th>占用者</th>
            <th>占用时间</th>
            <th>占用时长</th>
        </tr>
    </thead>
    <tbody>
        {% for resource in resources %}
        <tr>
            <td>{{ resource.resource_type }}</td>
            <td>{{ resource.resource_name }}</td>
            <td>{{ resource.resource_address }}</td>
            <td>
                {% if resource.is_busy %}
                <span style="background-color:red; color:white;">忙碌</span>
                {% else %}
                <span style="background-color:green; color:white;">空闲</span>
                {% endif %}
            </td>
            <td>{{ resource.assigned_to   }}</td>
            <td>{{ resource.assigned_time  }}</td>
            <td>{{ resource.occupied_duration  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
